---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}
    <!-- Hero Section -->
    <section id="home" class="fade-in">
        <div class="container">
            <img src="indexSelfie.jpg" alt="Michael McClung portrait">
            <h2>Hello, I'm Michael McClung 👋</h2>
            <h1>Results-driven operations leader and former software developer with a proven track record
                in optimizing field service management, dispatch operations, and technician performance.
                Combines technical expertise with process innovation to streamline workflows, reduce
                costs, and elevate customer satisfaction. Seeking to leverage a unique blend of technology
                and management experience to drive operational excellence and team success in a growth-
                focused service organization.
            </h1>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>