---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}
    <!-- Skills Section -->
    <section class="skills-section" id="skills">
        <div class="container">
            <h2>Experience</h2>
            <div class="skills-wrapper">
                <div class="skill-card">
                    <div class="icon">🗄️</div>
                    <h5>Audio Video</h5>
                    <ul>
                        <li>Global Technology Integrations</li>
                        <li>Audio/Video Systems Design</li>
                        <li>Project Management</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>College</h2>
            <div class="skills-wrapper">
                <div class="skill-card">
                    <div class="icon">🎓</div>
                    <h5>Texas Tech University</h5>
                    <ul>
                        <li>BA in Computer Science</li>
                    </ul>
                </div>
            </div>
            <div class="skills-wrapper">
                <div class="skill-card">
                    <div class="icon">📚</div>
                    <h5>Richland Community College</h5>
                    <ul>
                        <li>AS in Computer Science</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Careers</h2>
            <div class="skills-wrapper">
                <div class="skill-card">
                    <div class="icon">⚙️</div>
                    <h5>JP Morgan Chase & Co.</h5>
                    <ul>
                        <li>Software Engineer</li>
                    </ul>
                </div>
            </div>
            <div class="skills-wrapper">
                <div class="skill-card">
                    <div class="icon">🧠</div>
                    <h5>Poseidon's Elite Plumbing, Inc.</h5>
                    <ul>
                        <li>Cheif Operations Officer</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>