<!DOCTYPE html>
<html>
    <head style="background-color: #F2F4AF">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Michael McClung | Software Engineer Student</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <style>
        #title{
            text-shadow: 2px 2px #FFFFFF;
            text-decoration-line: underline;
        }
        #work-div{
            padding-left: 250px;
        }
        #work-div-title{
            font-size: 30px;
            padding-left: 250px;
        }
        #current{
            padding-left: 5em;
        }
        #past{
            padding-left: 10em;
        }
        #hobbies{
            padding-left: 10em;
        }
        #languages{
            float: left;
            padding-left: 10em;
        }
        #frameworks{
            float: left;
            padding-left: 10em;
        }
        #tools{
            float: left;
            padding-left: 10em;
        }
        #design{
            float: left;
            padding-left: 10em;
        }
        #skill-mids{
            border-left: 1px solid;
        }
        #vertical-text{
            text-orientation: upright;
            float: left;
            padding-left: 10em;
        }
        </style>
    </head>

    <body style="background-color: #F2F4AF">
        <header>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">HOME <span class="sr-only">(current)</span></a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="projects.html">PROJECTS</a></li>

            <!--- dropdown for contact nav bar --->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">CONTACT <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://www.linkedin.com/in/mrmcclung">LINKEDIN</a></li>
                <li><a href="mailto:michael.mcclung08@gmail.com">EMAIL</a></li>
              </ul>
            </li>
          </ul>
        </header>

        <div class="container">
            <h1 id="title">ABOUT ME</h1>
        <ul class="nav nav-pills">
          <li id="current"><a data-toggle="tab" href="#cur">CURRENT</a></li>
          <li id="past"><a data-toggle="tab" href="#pas">PAST</a></li>
          <li id="hobbies"><a data-toggle="tab" href="#hob">HOBBIES</a></li>
        </ul>
         
        <div class="tab-content">
          <div id="cur" class="tab-pane fade">
            <p>I'm currently a student at <b><a class="aboutsection" href="https://www.ttu.edu">Texas Tech University</a></b> studying <b><a class="aboutsection" href="http://www.depts.ttu.edu/cs/">Computer Science</a></b>. I have worked at <b><a class="aboutsection" href="http://www.global-technology-integrators.com">Global Technology Inivators</a></b> and a two and a half month internship at <b><a class="aboutsection" href="https://www.northropgrumman.com/Pages/default.aspx">Northrop Grumman</a></b>.
            I have a passion for learning and expanding my skills. Texas Tech University facualty and staff has made that possible for me and motivated me to be the best that I can be. Wreck'em Tech!</p>

            <p>As I progress in school I want to be able to improve my web developement skiils along with perfecting my C++ and Java skills. I have a keen eye for design and believe I will be able to create amazing products. My goal is to always build applications that are scalable and efficient while providing engaging experiences. If I am not in front of a computer screen, I am probaly out in the nature or traveling. I also enjoy playing guitar, working out, and being around friends and family.</p>
          </div>
          <div id="pas" class="tab-pane fade">
            <p>Ever since I was a child I have always been into fixing things. One time my grandma could not figure out how to make the VHS tape player work. I believe I was about 10 years old. I walked over and with in 10 or less minutes I got the VHS to turn on and play the movie.</p>

            <p>When I was in school I was great at mathmatical problems and once I got to high school I was so far ahead of most my class mates because in middle school I went to a private school. I figured out that private schools had better professors and helped me to excel far beyond what I would have been able to acheive in a public school. I also had dyslexia and never let it get the best of me. I was able to get extra tutoring at St. John's Episcopal School and over came it sometime in high school.</p>
          </div>
          <div id="hob" class="tab-pane fade">
            <p>I love to travel, as I progress in my career I plan to travel the world. I have made another page that shows where I have been so far and I will add more along the way through out my life. I also love to play guitar... when I play I am in another world and feel free. I am starting to try to get into working out. I have always been told that as long as you have a healthy heart, your body will thank you and reward you with a long and prosperous life. Finally, I like to try to work on my programming skills and knowledge, in example I am recently updating this website through github and soon hope to mave my own website with my own custom name.</p>
          </div>
        </div>
    </div>
    <div class="container">
        <h1 id="title">WORK EXPIERIENCE</h1>
        <p><a href="#" data-toggle="tooltip" data-placement="bottom" title="Northrop Grumman Internship - June2019 to Aug 2019"><img src="NG.png" width="200px" height="200px" align="left"></a>
            <div id="work-div-title">NORTHROP GRUMMAN INTERNSHIP</div>
            <div id="work-div" class="container">Participated in the Integrated Air and Missile Battle Defense Command System project (IBCS). Pair-programmed, learned, and developed JAVA unit testing code/ Linux system & terminal commands. Contributed in daily Scrum meeting methodologies and accompanied other weekly meetings</div></p>
    </div>
    <div class="container">
        <p><a href="#" data-toggle="tooltip" data-placement="bottom" title="Global Technology Integrators - Jan 2015 to Aug 2016"><img src="rack-system.jpg" width="200px" height="175px" align="left"></a>
        <div id="work-div-title">GLOBAL TECHNOLOGY INTEGRATORS</div>
        <div id="work-div" class="container" >Executed a build out of Audio Video infrastructure at a 2500-person Raytheon campus in 3 buildings over a 6-month period. Collaborated and programmed conference rooms, projector systems, racks, and digital signage. Lead a team project for AV framework at Murata Electronics, N.A., Inc.</div></p>
    </div>

    <div class="container">
        <h1 id="title">SKILLS</h1>
    </div>
    <div class="container">                   
        <div id="languages">
            <b>LANGUAGES</b>
                <p>Java</p>
                <p>C++</p>
                <p>HTML</p>
                <p>CSS</p>
                <p>Python</p>
                <p>SQL</p>
        </div>
        <div id="frameworks">
            <b>FRAMEWORKS</b>
                <p>Eclipse</p>
                <p>Android Studio</p> 
                <p>Python</p>    
                <p>Visual Studios</p>
                <p>IntelliJ</p>
                <p>Sublime Text</p>
        </div> 
        <div id="tools">  
            <b>TOOLS</b>
                <p>Git</p>
                <p>Github</p>
                <p>Windows Power Shell</p>
                <p>Bash</p>
        </div>
        <div id="design">
            <b>DESIGN</b>
                <p>User Testing</p>
                <p>Bootstrap</p>
        </div>
        <div id="vertical-text">
            <a class="resume" href="D:\2019 Fall\McKrunk\Job Fair Get Ready\Resume\Resume_Fall2019.pdf" target="_blank">
                <h2>R<br>E<br>S<br>U<br>M<br>E</h2></a>
        </div>
        </div>
    </div>     
    <footer style="background-color: #F2F4AF" style="bottom: left">
        © Michael McClung, 2019
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
